@import url(/css/style.css);
@import url(/css/products.css);

#introduction-contact_text {
    font-size: 1rem;
    text-align: left;
    color: var(--gray-color);
}

/*Contact section styles*/
.contact {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 8% 0;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--secondary-font);
}

.contact-content p {
    font-size: 1rem;
    color: var(--gray-color);
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    max-width: 450px;
}

.contact-form input {
    border: 2px solid var(--green-color);
    border-radius: 10px;
    padding: 0.5rem;
    background-color: var(--background-color);
    width: 100%;
}

.contact-form input::placeholder {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--light-green-color);
}

.contact-form label {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--light-orange-color);
    align-self: first baseline;
}

.contact-form textarea {
    border: 2px solid var(--orange-color);
    border-radius: 10px;
    padding: 0.5rem;
    background-color: var(--background-color);
    width: 100%;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border-color: var(--yellow-color);
}

/* Responsive styles for medium screens */
@media screen and (min-width: 640px) {
    #introduction-contact_text {
        font-size: 1.2rem;
    }
    
    .contact {
        gap: 3em;
        padding: 5% 0;
    }

    .contact-content p {
        font-size: 1.2rem;
    }   
}

/* Responsive styles for medium screens */
@media screen and (min-width: 1024px) {
    #introduction-contact_text {
        font-size: 1.4rem;
    }
    
    .contact {
        gap: 4em;
        padding: 3% 0;
    }

    .contact-content p {
        font-size: 1.4rem;
    }
}