@import url(/css/style.css);

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.introduction_text {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    color: var(--orange-color);
}

.introduction_info {
    font-size: 1.3rem;
    text-align: center;
}

.emphasis {
    color: var(--green-color);
}

.introduction_subinfo {
    font-size: 1rem;
    color: var(--light-orange-color);
    text-align: center;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section-title_icon {
    max-width: 8%;
}

.section-title_text {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-color);
}

.button {
    color: #ffffff;
    font-family: var(--secondary-font);
    font-size: 0.9em;
    background-color: var(--orange-color);
    border: 0.125em solid var(--green-color);
    border-radius: 0.625em;
    max-width: 50%;
    cursor: pointer;
}

.button-color {
    background-color: var(--green-color);
    border: 0.125em solid var(--orange-color);
}

@media screen and (min-width: 768px) {
    .introduction {
        gap: 2.5em;
    }
    
    .introduction_text {
        font-size: 1.3rem;
    }
    
    .introduction_info {
        font-size: 1.5rem;
    }

    .introduction_subinfo {
        font-size: 1.2rem;
    }

    .section-title_icon {
        max-width: 6%;
    }
    
    .section-title_text {
        font-size: 1.5rem;
    }

    .button {
        max-width: 30%;
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    
    .introduction {
        gap: 2.5em;
        max-width: 65%;
    }

    .introduction_text {
        font-size: 1.4rem;
    }
    
    .introduction_info {
        font-size: 1.6rem;
    }

    .introduction_subinfo {
        font-size: 1.2rem;
    }

    .section-title_icon {
        max-width: 4%;
    }
    
    .section-title_text {
        font-size: 1.6rem;
    }

    .button {
        max-width: 20%;
        font-size: 1.1em;
    }
}