@import url(/css/fonts.css);
@import url(/css/reset.css);

:root {
    --green-color: #618C03;
    --light-green-color: #91A672;
    --orange-color: #F2522E;
    --light-orange-color: #FF9178;
    --yellow-color: #F29F05;
    --background-color: #D9D9D9
  }

body {
    color: #000000;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
}

.responsive-container {
    margin: 0 auto;
    max-width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.header_logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-color);
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4em;
    font-size: 0.875rem;
    color: var(--orange-color);
}

.header-navbar_item {
    border: 0.125em solid var(--green-color);
    border-radius: 0.625em;
    padding: 0.3em;
}

.header-navbar_link {
    color: var(--orange-color);
}

.divider {
    border-color: var(--yellow-color);
    width: 100%;
    margin: 2em auto;
    box-sizing: border-box;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.banner_title {
    color: var(--orange-color);
    font-family: var(--secondary-font);
    font-size: 1.1rem;
}

.banner_image {
    max-width: 45%;
}

.features_title {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-color);
}

.features_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    gap: 0.4em;
}

.features_image {
    max-width: 50%;
}

.features_content {
    border: 0.125em solid var(--yellow-color);
    border-radius: 0,625em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    max-width: 40%;
}

.features_text {
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    text-align: center;
    color: var(--orange-color);
}

.features-qualities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-qualities_quality {
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    color: var(--green-color);
}

.features-qualities_icon {
    max-width: 5%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 3.125em;
}

.cards-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1em 0.3em;
    gap: 0.625em;
}

.cards-card-text {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    gap: 0.625em;
}

.cards-card-text_title {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--orange-color);
}

.cards-card-text_info {
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    color: var(--green-color);
}

.cards-card-text_subinfo {
    font-family: var(--secondary-font);
    font-size: 0.7rem;
    color: var(--light-green-color);
}

.cards-card-image {
    max-width: 40%;
    display: flex;
    align-items: center;
}

.cards-card-image_img {
    max-width: 100%;
    border-radius: 0.625em;
}

div.text-color p:first-child {
    color: var(--green-color);
}

div.text-color p:nth-child(2) {
    color: var(--orange-color);
}

div.text-color p:nth-child(3) {
    color: var(--light-orange-color);
}

.footer {
    background-color: var(--yellow-color);
    padding: 0.3em;
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.footer_text {
    color: #ffffff;
    font-family: var(--secondary-font);
    font-size: 0.7em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .responsive-container {
        max-width: 80%;
    }
    
    .header_logo{
        font-size: 1.8rem;
    }
    
    .header-navbar {
        font-size: 1rem;
    }

    .divider {
        margin: 2.5em 0;    
    }
    
    .banner_title {
        font-size: 1.3rem;
    }
    
    .features_title {
        font-size: 1.3rem;
    }
    
    .features_container {
        margin: 3em 0;
    }
    
    .features_image {
        max-width: 45%;
    }
    
    .features_content {
        padding: 0.5em;
        max-width: 45%;
    }
    
    .features_text {
        font-size: 1rem;
    }
    
    .features-qualities_quality {
        font-size: 1rem;
    }
    
    .cards{
        gap: 2.5em;
    }
    
    .cards-card {
        gap: 1em;
    }

    .cards-card-image {
        max-width: 30%;
    }

    .cards-card-text {
        max-width: 65%;
        gap: 1em;
    }
    
    .cards-card-text_title {
        font-size: 1.1rem;
    }
    
    .cards-card-text_info {
        font-size: 1.1rem;
    }
    
    .cards-card-text_subinfo {
        font-size: 0.9rem;
    }
    
    .eco-grow-footer {
        padding: 0.5em 2em;
    }
    
    .footer_icons {
        gap: 1.25em;
    }
    
    .footer_text {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1024px) {
    .header_logo{
        font-size: 1.9rem;
    }
    
    .header-navbar {
        font-size: 1.1rem;
    }
    
    .divider {
        margin: 3em 0;    
    }

    .banner {
        justify-content: center;
        gap: 4.4em;
    }

    .banner_title {
        font-size: 1.5rem;
        max-width: 35%;
    }

    .banner_image {
        max-width: 35%;
    }
    
    .features_title {
        font-size: 1.5rem;
    }
    .features_container {
        justify-content: center;
        gap: 4.4em;
    }
    
    .features_image {
        max-width: 35%;
    }
    
    .features_content {
        padding: 0.8em;
        max-width: 35%;
    }
    
    .features_text {
        font-size: 1.2rem;
    }

    .features-qualities {
        justify-content: center;
        gap: 5.625em;
    }

    .features-qualities_quality {
        font-size: 1.2rem;
    }
    
    .cards{
        gap: 3.125em;
    }

    .cards-card {
        justify-content: center;
        gap: 1.5em;
    }
    
    .cards-card-text {
        max-width: 70%;
        gap: 1em;
    }
    
    .cards-card-text_title {
        font-size: 1.2rem;
    }
    
    .cards-card-text_info {
        font-size: 1.2rem;
    }
    
    .cards-card-text_subinfo {
        font-size: 1rem;
    }
    
    .cards-card-image {
        max-width: 25%;
    }

    .footer {
        padding: 0.7em 3em;
        margin-top: 5em;
    }
    
    .footer_icons {
        gap: 1.875em;
    }
    
    .footer_text {
        font-size: 0.9em;
    }
}