@import url(/css/fonts.css);
@import url(/css/reset.css);

:root {
    --green-color: #618C03;
    --light-green-color: #91A672;
    --orange-color: #F2522E;
    --light-orange-color: #FF9178;
    --gray-color: #4a4949;
    --light-gray-color: #999;
    --yellow-color: #F29F05;
    --background-color: #D9D9D9;
}

body {
    color: #000000;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4rem;
    background-color: var(--background-color);
}

.responsive_container {
    margin: 0 auto;
    max-width: 90%;
}

.header {
    box-sizing: border-box;
    width: 100%;
    padding: 8% 0;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--green-color);
}

.divider {
    border-color: var(--yellow-color);
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.section_title {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-color);
}

/*Burger menu styles*/
.header-burger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-burger-menu_wrapper {
    position: relative;
}

.header-burger-menu img {
    cursor: pointer;
}

.header-burger-menu_nav {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40%;
    border-radius: 10px;
}

.header-burger-menu_nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-burger-menu_nav ul li a {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: var(--green-color);
}

/*Main header styles*/
#main_header {
    display: none;
}

/*Banner section styles*/
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 8% 0;
    font-family: var(--secondary-font);
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.banner_text h2 {
    color: var(--orange-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.banner_text p {
    font-size: 1rem;
    color: var(--green-color);
}

.banner_text p:nth-child(3) {
    color: var(--gray-color);
    display: none;
}

.banner img {
    align-self: center;
    max-width: 45%;
}

/*Features section styles*/
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 8% 0;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.features-container img {
    max-width: 50%;
}

.features-container p {
    border: 0.125em solid var(--yellow-color);
    border-radius: 0, 625em;
    padding: 0.2rem;
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--orange-color);
    text-align: center;
}

#features-container_text2 {
    display: none;
}

.features_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_footer p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--green-color);
}

.features_footer img {
    max-width: 5%;
}

/*Cards section styles*/
.cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 8% 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.cards-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    width: 50%;
    background-color: #FFFFFF;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards-container-card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.cards-container-card h4 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-color);
}

.cards-container-card p {
    font-size: 1rem;
    color: var(--gray-color);
}

.cards-container-card .subinfo {
    font-style: italic;
    color: var(--green-color);
}

/*Footer styles*/
.ecogrow-footer {
    background-color: var(--yellow-color);
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.ecogrow-footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.ecogrow-footer p {
    color: #ffffff;
    font-family: var(--secondary-font);
    font-size: 0.7rem;
    text-align: center;
}

/* Responsive styles for medium screens */
@media screen and (min-width: 640px) {

    .responsive_container {
        max-width: 85%;
    }

    .header {
        padding: 5% 0;
    }

    .logo {
        font-size: 2.2rem;
    }

    .banner {
        flex-direction: row;
        padding: 5% 0;
    }

    .banner_text h2 {
        font-size: 1.5rem;
    }

    .banner_text p {
        font-size: 1.2rem;
    }

    .banner_text p:nth-child(3) {
        display: block;
    }

    .banner img {
        max-width: 40%;
    }

    .features {
        padding: 5% 0;
        gap: 2.5rem;
    }

    .section_title {
        font-size: 1.4rem;
    }

    .features-container img {
        max-width: 35%;
    }

    .features-container p {
        font-size: 1.2rem;
        max-width: 40%;
    }

    .features_footer p {
        font-size: 1.2rem;
    }

    .cards {
        padding: 5% 0;
    }
    
    .cards-container-card {
        width: 35%;
    }

    .cards-container-card h4 {
        font-size: 1.3rem;
    }

    .cards-container-card p {
        font-size: 1.2rem;
    }

    .ecogrow-footer {
        padding: 0.5rem 2rem;
    }

    .ecogrow-footer p {
        font-size: 0.8rem;
    }
}

/* Responsive styles for large screens */
@media screen and (min-width: 1024px) {
    .responsive_container {
        max-width: 80%;
    }

    .header {
        padding: 3% 0;
    }

    .logo {
        font-size: 2.4rem;
    }

    #header_burger-menu {
        display: none;
    }

    #main_header {
        display: flex;
    }

    .main-header {
        justify-content: space-between;
        align-items: center;
    }

    .main-header_nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-size: 1.3rem;
        color: var(--orange-color);
    }

    .main-header_nav ul li {
        border: 0.125rem solid var(--green-color);
        border-radius: 10px;
        padding: 0.4rem;
    }

    .main-header_nav ul li a {
        color: var(--gray-color);
    }

    .main-header_nav ul li a:hover {
        color: var(--orange-color);
    }

    #page {
        color: var(--light-orange-color);
    }

    .banner {
        padding: 3% 0;
        gap: 1.5rem;
    }

    .banner_text {
        max-width: 50%;
    }

    .banner_text h2 {
        font-size: 1.7rem;
    }

    .banner_text p {
        font-size: 1.4rem;
    }

    .banner img {
        max-width: 30%;
    }

    .features {
        padding: 3% 0;
        gap: 3rem;
    }

    .section_title {
        font-size: 1.6rem;
    }

    .features-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .features-container img {
        max-width: 35%;
    }

    #features-container_text1 {
        display: none;
    }

    #features-container_text2 {
        display: block;
    }

    .features-container p {
        font-size: 1.4rem;
        max-width: 80%;
        border: none;
        text-align: left;
        color: var(--gray-color);
    }

    .letter_emphasis {
        font-size: 2rem;
        color: var(--orange-color);
        font-weight: bold;
    }

    .features_footer {
        max-width: 80%;
    }

    .features_footer p {
        font-size: 1.4rem;
    }

    .cards {
        padding: 3% 0;
        gap: 4rem;
    }

    .cards-container-card {
        width: 30%;
    }

    .cards-container-card h4 {
        font-size: 1.5rem;
    }

    .cards-container-card p {
        font-size: 1.4rem;
    }

    .ecogrow-footer {
        padding: 0.8rem 3rem;
    }

    .ecogrow-footer p {
        font-size: 0.9rem;
    }
}